.formLayout
{
    /*background-color: #f3f3f3;*/
    /*border: solid 1px #a1a1a1;*/
    padding: 10px;
    color:#4f4f4f;
}

.formLayout label
{
    display:block;
    float: left;
    width:25%;
    font-size:14px;

    margin-bottom: 20px;


}

.formLayout input[type=file]{
    margin-bottom: 20px;
}



.formLayout input{
    display: block;

    float: left;

}

.formLayout label
{
    padding-right: 20px;
    padding-top: 2px;
}

br
{
    clear: left;
}

/*jquery ui*/

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
}
#icons {
    margin: 0;
    padding: 0;
}

#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 10px 4px 3px 2px;
    border: 1px solid #DDDDDD;
}



input[type=text]:focus {
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow:    0 0 5px rgba(81, 203, 238, 1);
    box-shadow:         0 0 5px rgba(81, 203, 238, 1);
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
}





select {float:left;width:54%;font-size:13px;line-height:1.23em;color:#4f4f4f;padding:4px 10px;margin:0;font-family:Arial, Helvetica, sans-serif;border:1px solid #e5e5e5;background:none;

    font-family:Cursive;

    border-radius:6px;
    background-color:#FFF;
    color:#0DC1CD;

    -webkit-appearance:none;

    outline:none}




#contact-form select option{
    background-color: #FFF;
    color:#0DC1CD;
}

#contact-form select option:hover{
    background-color: #d3d3d3;
}


input[type=button]
{
    margin-right: 10px;
    border : solid 1px #07a7b1;
    border-radius : 7px 7px 6px 6px ;
    moz-border-radius : 7px 7px 6px 6px ;
    -webkit-box-shadow : 2px 3px 4px rgba(0,0,0,0.4);
    -moz-box-shadow : 2px 3px 4px rgba(0,0,0,0.4);
    box-shadow : 2px 3px 4px rgba(0,0,0,0.4);
    font-size : 18px;
    color : #ffffff;
    padding : 2px 14px;
    background : #11a8b0;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #10a8b0), color-stop(100%,#0dc0cd));
    background : -moz-linear-gradient(top, #11a8b0 0%, #0dc0cd 100%);
    background : -webkit-linear-gradient(top, #11a8b0 0%, #0dc0cd 100%);
    background : -o-linear-gradient(top, #11a8b0 0%, #0dc0cd 100%);
    background : -ms-linear-gradient(top, #11a8b0 0%, #0dc0cd 100%);
    background : linear-gradient(top, #11a8b0 0%, #0dc0cd 100%);

}

input[type=button]:hover{

    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15d3dd), color-stop(100%,#0cb0bc));
    background : -moz-linear-gradient(top, #15d3dd 0%, #0cb0bc 100%);
    background : -webkit-linear-gradient(top, #15d3dd 0%, #0cb0bc 100%);
    background : -o-linear-gradient(top, #15d3dd 0%, #0cb0bc 100%);
    background : -ms-linear-gradient(top, #15d3dd 0%, #0cb0bc 100%);
    background : linear-gradient(top, #15d3dd 0%, #0cb0bc 100%);

}

input[type=submit]
{
    margin-right: 10px;
    border : solid 1px #17b118;
    border-radius : 7px 7px 6px 6px ;
    moz-border-radius : 7px 7px 6px 6px ;
    -webkit-box-shadow : 2px 3px 4px rgba(0,0,0,0.4);
    -moz-box-shadow : 2px 3px 4px rgba(0,0,0,0.4);
    box-shadow : 2px 3px 4px rgba(0,0,0,0.4);
    font-size : 18px;
    color : #ffffff;
    padding : 2px 14px;
    background : #27b02b;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1cb048), color-stop(100%, #46cd25));
    background : -moz-linear-gradient(top, #1cb048 0%, #46cd25 100%);
    background : -webkit-linear-gradient(top, #1cb048 0%, #46cd25 100%);
    background : -o-linear-gradient(top, #1cb048 0%, #46cd25 100%);
    background : -ms-linear-gradient(top, #1cb048 0%, #46cd25 100%);
    background : linear-gradient(top, #1cb048 0%, #46cd25 100%);
}


input[type=submit]:hover{

    background : -moz-linear-gradient(top,  #22e95c 0%, #41bb21 100%);
    background : -webkit-linear-gradient(top,  #22e95c 0%, #41bb21 100%);
    background : -o-linear-gradient(top,  #22e95c 0%, #41bb21 100%);
    background : -ms-linear-gradient(top, #22e95c 0%, #41bb21 100%);
    background : linear-gradient(top, #22e95c 0%, #41bb21 100%);

}


input[type=submit]:disabled{
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(28,176,72,.7)), color-stop(100%, rgba(70,205,37,.7)));
    background : -moz-linear-gradient(top, rgba(28,176,72,.7) 0%, rgba(70,205,37,.7) 100%);
    background : -webkit-linear-gradient(top, rgba(28,176,72,.7) 0%, rgba(70,205,37,.7) 100%);
    background : -o-linear-gradient(top, rgba(28,176,72,.7) 0%, rgba(70,205,37,.7) 100%);
    background : -ms-linear-gradient(top, rgba(28,176,72,.7) 0%, rgba(70,205,37,.7) 100%);
    background : linear-gradient(top, rgba(28,176,72,.7) 0%, rgba(70,205,37,.7) 100%);

}

input[type=button]:disabled
{

    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(16,168,176,.7)), color-stop(100%,rgba(13,192,205,.7)));
    background : -moz-linear-gradient(top, rgba(16,168,176,.7) 0%, rgba(13,192,205,.7) 100%);
    background : -webkit-linear-gradient(top, rgba(16,168,176,.7) 0%, rgba(13,192,205,.7) 100%);
    background : -o-linear-gradient(top, rgba(16,168,176,.7) 0%, rgba(13,192,205,.7) 100%);
    background : -ms-linear-gradient(top, rgba(16,168,176,.7) 0%, rgba(13,192,205,.7) 100%);
    background : linear-gradient(top, rgba(16,168,176,.7) 0%, rgba(13,192,205,.7) 100%);

}

/*
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
    width   : 24px;

    margin  : 0;
    padding : 0;
    opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -28px;
    padding-left : 24px;
    background   : url('../images/checks.png') no-repeat ;


}

input[type=checkbox]:not(old):checked + label{
    background-position : 0 -24px;
}

input[type=radio]:not(old):checked + label{
    background-position : 0 -48px;
}*/