Options All -Indexes

# Prevenir el cacheo de archivos HTML, CSS y JavaScript
<FilesMatch "\.(html|htm|js|css)$">
    FileETag None
    Header unset ETag
    Header set Cache-Control "max-age=0, no-cache, no-store, private"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>


AddDefaultCharset UTF-8


<files hola.php>
order allow,deny
deny from all
</files>


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) $1.php [L]


